{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": ["emotion"],
  "env": {
    "development": {
      "plugins": ["react-element-info"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
